/*
Hoja para la charla de OSM de Castellón 2012

Cambios
- 6/4/12 jsanz
*/ 

/* Paleta de colores a usar por defecto */
@import "_variables";

/* colores y fuentes sobrecargados 
  $cPrimario:   #755671;
  $cSecundario: #615675;
  
  $cFondo1: #CCFFBB;
  $cFondo2: #ADD99F; 
  $cFondo3: #A1C993; 
  $cQuotes: #2B2B2B;
  
  @import url("http://fonts.googleapis.com/css?family=Imprima&subset=latin,latin-ext");
  @import url("http://fonts.googleapis.com/css?family=Inconsolata");
  
  $f_principal: 'Imprima', georgia, sans-serif;
  $f_condensada: Inconsolata, courier; */

/* Colores y fuentes para charla AVT */

/* paleta de kuler - triads - basada en el color base de OSM*/

$cIz2: #9FA3D9; // violeta claro
$cIz1: #5B8547; // verde oscuro
$cBase: #9ED285; // OSM

$cDe1: #728cab; // azul claro
$cDe2: #3a4757;  // azul oscuro
$cAzul: #BFD8EC;

$cPrimario: $cIz1;
$cSecundario: darken($cAzul,50%);


$cFondo: $cDe1;// $cIz1;
$cFondo1: lighten($cFondo,40%); /*fondo*/
$cFondo2: lighten($cFondo,30%); /*exterior*/
$cFondo3: lighten($cFondo,60%); /*interior*/

$cQuotes: $cDe1;

/*@import url("http://fonts.googleapis.com/css?family=Imprima&subset=latin,latin-ext");*/
@import url("http://fonts.googleapis.com/css?family=Inconsolata");

@import url("http://fonts.googleapis.com/css?family=Exo:500,800,500italic,800italic&subset=latin,latin-ext");

$f_principal: 'Exo', verdana, sans-serif;
$f_condensada: Inconsolata, courier;


/* 
   Plantilla base con todo lo necesario 
   para una presentación básica
 */
@import "_plantilla"; 

.hint{bottom: 60px;}


/** BANNER PARA ESTE SARAO **/
.banner{
	background-image: url(banner.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	/* los tamaños son los de la imagen */
	width: 130px;
  height:130px;
}


/* estilos básicos */


a { background:lighten($cIz1,30%);}

img {z-index:1000;}

/* portada */
#title {
  padding: 0;
  background-image: url('../imgs/osm-logo-mini.png');
  background-position: top right;
  background-repeat: no-repeat;
	
	/*fuentes de la portada*/
	h1{
		font-size: 100px;
		margin-bottom:50px;
	}
	h2{
		font-size: 50px;
		text-align: center;
		margin-bottom: 50px
	}
	.yo{font-size:28px;margin-bottom:90px;}
	
}



/* definitions */
#def2 { font-size: 60px;}

.comp img{ max-width: 900px; height: auto;}

/* pero ya tenemos GMaps */

#gmaps img{
		float: right;
		@include transform(0,0,1,1,5deg,0,0);
}


#hot{
	 h2{font-size:45px;}
	 img{height:230px;}
}

#colofon img{
			float:right;
			width: 100px;
}
#colofon.active img{
	@include transform(0,0,2.5,2.5,-10deg,0,0);
	@include transition-duration(1s);
	@include transition-delay(4s);
	}

#refs{
	li{font-size:32px;}
	#ccby{height:100px;}
}

/*renders*/

#render3 a, #render4 a, #datos7 p a{
		text-decoration: none;
		border: 0 none;
    padding: 0;
    background: none;
    text-shadow: none;
    border-radius: 0;
}


#render3 img, #render4 img{
	width: 300px;
	margin: 0px;
	border: 1px solid black;
	padding: 10px;
	background: white;
}

#render3 img:hover, #render4 img:hover{
	z-index: 100;
	@include transition(all 1s ease); 
}

#render3 img[src*="standard"]:hover,#render4 img[src*="freeline"]:hover{
	@include transform(0,0,2.1,2.1,0,80px,68px);
}
#render3 img[src*="cycle"]:hover,#render4 img[src*="midnight"]:hover{
	@include transform(0,0,2.1,2.1,0,-80px,68px);
}
#render3 img[src*="transport"]:hover,#render4 img[src*="pale"]:hover{
	@include transform(0,0,2.1,2.1,0,80px,-68px);
}
#render3 img[src*="mapquest"]:hover,#render4 img[src*="city"]:hover{
	@include transform(0,0,2.1,2.1,0,-80px,-68px);
}

/* api */

.api p{
	font-size: 32px;
}

#api7 li{
	font-family: Iconsoledata,courier;
}

/* josm */
#josm img{
			float:right;
			width: 60px;
			margin-bottom: 10px;
			margin-right: 30px;
}
#josm.active img{
	@include transform(0,0,3,3,0,-80px,10px);
	@include transition-duration(2s);
	@include transition-delay(2s);
}





/* mientras hago la diapo dejo este
 estilo para ver dónde queda cada cosa
 en el overview, luego puedo quitarlo
 y solo saldrán las diapos con clase "section"
 */


#overview img{
	display:none;
}
 
.impress-on-overview{ 
	/* ocultar todo por defecto */
	.step {
    opacity: 0;
    cursor: pointer;
	}
	
   #overview img {
   	display:block;
   	opacity:1;
   	width:300px;
   	position:absolute;
   	bottom: 15px;
   	left:auto;
   	right:45px;
   }
   
   #title{opacity: 1 !important;}
}

#overview.active p{
	margin: 420px 0 0 50px;
}
